<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!films"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="films">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let film of films">
      <td>{{ film.title}}</td>
      <td>{{ film.director }}</td>
      <td>{{ film.description }}</td>
      <td>{{ film.rating }}</td>
    </tr>
  </tbody>
</table>
